@import "configurations";

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, $bg-color-1, $bg-color-2);
}

.main {
  @include flexCenter;
  width: 100%;
  height: 100%;
}

.cube__container {
  width: 0%;
}

.cube-img {
  position: relative;
  left: -94px;
  z-index: 2;
  bottom: -43px;
}

.cube-img-hover {
  left: -115px;
  transition: $transition;
}

.card__container {
  width: 65%;
  height: 80%;

  max-width: 935px;
  max-height: 515px;
  background-color: $card-color;
  border-radius: 25px;

  @include flexCenter;
}

.card-img {
  &-desktop {
    @include flexCenter;
    width: 120%;
    height: 513px;

    background-image: url("../../images/bg-pattern-desktop.svg");

    background-position: -560px -289px;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
  }
  &-mobile {
    display: none;
  }
}

.woman-img {
  &-desktop {
    position: relative;
    left: -66px;
    bottom: -7px;
  }
  &-mobile {
    display: none;
  }
}

.card-faq {
  height: 90%;
  width: 100%;
  @include flexCenter(column, center, flex-start);
  padding: 10px;
}

.faq-title {
  font-size: map-get($font-sizes, big);
  color: $primary-color;
  font-weight: map-get($font-weights, bold);
  margin: 15px 0;
}

.faq-content {
  font-size: map-get($font-sizes, small);
  height: 73%;
  width: 100%;
}

.faq-questions-div {
  @include flexCenter(row, space-between);
  height: 60px;
  width: 90%;
  border-bottom: solid 2px $div-color;
}

.faq-questions-div-on {
  height: 50px;
  width: 90%;
  border-bottom: none;
}

.faq-questions {
  color: $font-color-1;
  font-weight: map-get($font-weights, regular);
  &:hover {
    color: $secondary-color;
    transition: $transition;
    cursor: pointer;
  }
}

.faq-questions-on {
  font-weight: map-get($font-weights, bold);
  color: #000000;
}

.faq-arrow {
  cursor: pointer;
}

.faq-arrow-up {
  transform: rotate(180deg);
  transition: $transition;
}

.faq-answers-div {
  display: none;
}

.faq-answers-on {
  display: block;
  width: 90%;
  height: 50px;
  color: $font-color-2;
  border-bottom: solid 2px $div-color;
}

@media screen and (max-width: 575px) {
  body {
    height: 100%;
  }
  .cube__container {
    display: none;
  }

  .main {
    margin: 150px auto 50px;
  }

  .card__container {
    @include flexCenter(column, center, center);
    max-height: 520px;
    min-width: 290px;
  }

  .card-img {
    &-desktop {
      display: none;
    }
    &-mobile {
      @include flexCenter(column, center, center);
      height: 119px;

      background-image: url("../../images/bg-pattern-mobile.svg");
      width: 100%;
      background-repeat: no-repeat;
      background-position: 43px 10px;
    }
  }

  .woman-img {
    &-desktop {
      display: none;
    }
    &-mobile {
      display: block;
      position: relative;
      top: -60px;
      left: -17px;
    }
  }

  .card-faq {
    padding: 20px;
  }

  .faq-title {
    text-align: center;
    width: 100%;
  }

  .faq-content {
    font-size: 0.7rem;
  }

  .faq-questions-div {
    width: 100%;
  }

  .text-container:last-child {
    margin-bottom: 40px;
  }

  .faq-questions-div-on {
    width: 100%;
  }

  .faq-answers-on {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .card-img-mobile {
    background-position: 20px 10px;
  }
}
